.pos-tags__btn {
    display: block;
    border: 1px solid #d8e1e9;
    border-radius: 27px;
    padding: 7px 46px 7px 20px;
    color: #131c24;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

.pos-tags__btn:after {
    position: absolute;
    right: 0;
    color: #7bf2da;
    content: "✕";
    padding-right: 20px
}

.pos-tags__btn:hover {
    border-color: #3cd5af
}

@media (max-width: 659px) {
    .pos-tags.no-posts .pos-tags__btn--clear {
        margin: 10px auto 15px
    }
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.fw-slider {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    user-select: initial
}

.fw-slider .item {
    position: relative
}

.fw-slider .item img {
    position: relative;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.fw-slider .slick-dots {
    position: absolute;
    bottom: -33px;
    width: 100%;
    text-align: center
}

.fw-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom
}

.fw-slider .slick-dots li:after {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    border: 1px solid #afafaf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px
}

.fw-slider .slick-dots li.slick-active:after {
    border: 0;
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%)
}

.fw-slider .slick-dots li button {
    display: none
}

.fw-slider__arrows {
    position: relative
}

.fw-slider__arrows .next-arrow, .fw-slider__arrows .prev-arrow {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60px;
    height: 42px;
    border-radius: 8px
}

.fw-slider__arrows .next-arrow svg, .fw-slider__arrows .prev-arrow svg {
    opacity: .6;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

@media (max-width: 969px) {
    .fw-slider__arrows .next-arrow svg, .fw-slider__arrows .prev-arrow svg {
        width: 8px;
        height: 18px
    }
}

.fw-slider__arrows .next-arrow:hover svg, .fw-slider__arrows .prev-arrow:hover svg {
    opacity: 1
}

@media (min-width: 660px) {
    .fw-slider__arrows .next-arrow, .fw-slider__arrows .prev-arrow {
        -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
        box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
        height: 60px;
        background: #fff
    }
}

.fw-slider__arrows .next-arrow {
    right: 0
}

.fw-slider__arrows .prev-arrow {
    left: 0
}

@media (min-width: 660px) {
    .fw-slider__arrows .prev-arrow {
        left: -30px
    }

    .fw-slider__arrows .next-arrow {
        right: -30px
    }
}

.fw-slider__arrows--sm-green {
    top: calc(50% - 30px)
}

[aria-describedby^=slick-slide] {
    outline: 0
}

.mobile-menu-btn {
    cursor: pointer
}

.mobile-menu-btn span {
    width: 26px;
    height: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    display: block;
    margin-top: 5px
}

.mobile-menu-btn span:first-child {
    margin-top: 0
}

.mobile-menu-btn.active span {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.mobile-menu-btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px)
}

.mobile-menu-btn.active span:nth-child(2) {
    -webkit-transform: translate(300%, 0);
    transform: translate(300%, 0);
    opacity: 0
}

.mobile-menu-btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px)
}

.simple-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.simple-list li, .simple-list > div {
    position: relative;
    padding: 0 0 8px 16px
}

.simple-list li:before, .simple-list > div:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #393939
}

.simple-list li:last-child, .simple-list > div:last-child {
    padding: 0 0 0 16px
}

@media (min-width: 480px) {
    .list-two-cols {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }
}

@media (min-width: 660px) {
    .list-two-cols {
        -webkit-column-gap: 47px;
        -moz-column-gap: 47px;
        column-gap: 47px
    }
}

.article {
    margin-top: 70px
}

@media (min-width: 970px) {
    .article {
        margin-top: 90px
    }
}

.section__title {
    margin-bottom: 32px
}

@media (min-width: 660px) {
    .section__title {
        margin-bottom: 64px
    }
}

@media (min-width: 970px) {
    .section__title {
        margin-bottom: 72px
    }
}

.search-popup {
    background: #fff;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .05)
}

.search-popup.open {
    visibility: visible;
    opacity: 1;
    width: 100% !important;
    height: auto !important;
    margin-top: 12px;
    margin-bottom: -13px
}

.search-form {
    position: relative;
    margin-bottom: 0
}

.search-form__inner {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 0;
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .05)
}

.search-form__input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #000;
    border-radius: 8px 0 0 8px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.search-form__input:-moz-placeholder {
    color: #787878
}

.search-form__input::-moz-placeholder {
    color: #787878
}

.search-form__input::-webkit-input-placeholder {
    color: #787878
}

@media (min-width: 970px) {
    .search-form__input {
        padding: 0 24px
    }
}

.search-form__submit {
    height: 44px;
    width: 48px;
    padding: 0;
    background: none;
    border: 1px solid #000;
    border-left: 0;
    border-radius: 0 8px 8px 0
}

.search-form__submit:hover {
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    font-weight: 600
}

.search-form__submit .icon-svg {
    width: 20px;
    height: 20px;
    fill: currentColor !important
}

.search-form__submit .search-text {
    display: none
}

@media (min-width: 970px) {
    .search-form__submit {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        min-width: 223px;
        -webkit-box-align: center;
        align-items: center
    }

    .search-form__submit .search-text {
        display: block;
        margin-left: 16px
    }
}

.search-focus.mobile-active .header-menu, .search-focus .mobile-menu, .search-focus .mobile-sidebar-footer {
    opacity: .1;
    pointer-events: none
}

.imagine-section {
    margin-top: 72px;
    margin-bottom: 80px
}

@media (min-width: 660px) {
    .imagine-section {
        margin-bottom: 72px
    }
}

@media (min-width: 970px) {
    .imagine-section {
        margin-top: 160px;
        margin-bottom: 160px
    }
}

@media (max-width: 659px) {
    .imagine-section .section__title {
        margin-bottom: 24px
    }
}

.imagine-section .circle {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 64px
}

@media (min-width: 970px) {
    .imagine-section .circle {
        background: url("../../img/image-circle.png") no-repeat center right;
        background-size: contain;
        min-height: 600px;
        margin-bottom: 0
    }
}

.imagine-section .circle-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    max-width: 80%
}

@media (min-width: 970px) {
    .imagine-section .circle-title {
        font-size: 32px;
        line-height: 40px
    }
}

.imagine-section .imagine-list li {
    position: relative;
    padding-left: 38px
}

.imagine-section .imagine-list li h3 {
    margin-top: 0;
    margin-bottom: 8px
}

.imagine-section .imagine-list li:before {
    position: absolute;
    left: 0;
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiIGZpbGw9IiNmZmYiIHN0cm9rZT0idXJsKCNhKSIgc3Ryb2tlLXdpZHRoPSI0Ii8+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMCIgeTE9IjEyIiB4Mj0iMjQiIHkyPSIxMiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIHN0b3AtY29sb3I9IiM0NUQ2QUQiLz48c3RvcCBvZmZzZXQ9Ii41IiBzdG9wLWNvbG9yPSIjNURCNkUxIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjQkM4NENBIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+")
}

.imagine-section .imagine-list li:not(:last-child) {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .imagine-section .imagine-list li:not(:last-child) {
        margin-bottom: 64px
    }
}

.cloud-schema {
    margin: 72px 0
}

@media (min-width: 660px) {
    .cloud-schema {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .cloud-schema {
        margin: 160px 0
    }
}

.cloud-schema .title-wrap {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .cloud-schema .title-wrap {
        margin-bottom: 64px
    }
}

.cloud-schema .section__title {
    margin-bottom: 24px
}

.cloud-schema .schema-item {
    position: relative
}

.cloud-schema .schema-item:nth-child(4n+1) .tit:before {
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), to(#5FB4E5));
    background: -o-linear-gradient(left, #7bf2da 0%, #5FB4E5 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5FB4E5 100%)
}

.cloud-schema .schema-item:nth-child(4n+2) .tit:before {
    background: -webkit-gradient(linear, left top, right top, from(#FFCD00), to(#89DD66));
    background: -o-linear-gradient(left, #FFCD00 0%, #89DD66 100%);
    background: linear-gradient(90deg, #FFCD00 0%, #89DD66 100%)
}

.cloud-schema .schema-item:nth-child(4n+3) .tit:before {
    background: -webkit-gradient(linear, left top, right top, from(#5FB4E5), to(#89DD66));
    background: -o-linear-gradient(left, #5FB4E5 0%, #89DD66 100%);
    background: linear-gradient(90deg, #5FB4E5 0%, #89DD66 100%)
}

.cloud-schema .schema-item:nth-child(4n+4) .tit:before {
    background: -webkit-gradient(linear, left top, right top, from(#E6437B), to(#665EC7));
    background: -o-linear-gradient(left, #E6437B 0%, #665EC7 100%);
    background: linear-gradient(90deg, #E6437B 0%, #665EC7 100%)
}

.cloud-schema .schema-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.cloud-schema .schema-list .i {
    margin-bottom: 20px;
    text-align: center
}

.cloud-schema .schema-list .i .title {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px
}

.cloud-schema .schema-list .schema-svg {
    display: none
}

@media (min-width: 970px) {
    .cloud-schema .schema-list .i {
        position: absolute
    }

    .cloud-schema .schema-list .schema-item a.i:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s
    }

    .cloud-schema .schema-list .schema-item a.i:hover:before {
        top: -15px;
        left: -35px;
        right: -35px;
        bottom: -15px;
        -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1);
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1)
    }

    .cloud-schema .schema-list .schema-item:nth-child(1) .i, .cloud-schema .schema-list .schema-item:nth-child(4) .i {
        left: calc(100% + 56px)
    }

    .cloud-schema .schema-list .schema-item:nth-child(2) .i, .cloud-schema .schema-list .schema-item:nth-child(5) .i {
        right: calc(100% + 56px)
    }

    .cloud-schema .schema-list .schema-item:nth-child(4) .i, .cloud-schema .schema-list .schema-item:nth-child(5) .i {
        top: 40px
    }

    .cloud-schema .schema-list .schema-svg {
        display: block;
        line-height: 1;
        -webkit-box-flex: 1;
        flex: 1 0 100%;
        text-align: center;
        margin-top: -100px;
        margin-bottom: -50px
    }

    .cloud-schema .schema-list .schema-svg svg {
        max-width: 300px;
        height: 100%
    }
}

@media (min-width: 1280px) {
    .cloud-schema .schema-list .i .title {
        font-size: 32px;
        line-height: 40px
    }

    .cloud-schema .schema-list .schema-svg svg {
        max-width: 380px
    }
}

.cloud-schema .points {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 12px
}

.cloud-schema .points .tit {
    position: relative;
    color: #393939;
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 14px 20px
}

.cloud-schema .points .tit:before {
    position: absolute;
    border-radius: 8px;
    opacity: .2;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.cloud-schema .points .point {
    position: relative;
    border-radius: 8px;
    -webkit-box-flex: 1;
    flex: 1 0 100%
}

.cloud-schema .points .point.expanded {
    cursor: pointer
}

.cloud-schema .points .point.expanded:hover .tit:before {
    opacity: .5
}

@media (min-width: 660px) {
    .cloud-schema .points .point.expanded:hover .tooltip {
        background: #fff;
        height: auto;
        opacity: 1;
        visibility: visible
    }
}

@media (max-width: 659px) {
    .cloud-schema .points .point.expanded .tit:after {
        content: "";
        background-image: url(../../img/arrow-left.svg);
        width: 8px;
        -webkit-filter: contrast(0.5);
        filter: contrast(0.5);
        background-size: cover;
        height: 14px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
        right: 10px
    }

    .cloud-schema .points .point.expanded.active .tit:before {
        opacity: .5
    }

    .cloud-schema .points .point.expanded.active .tit:after {
        -webkit-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg)
    }

    .cloud-schema .points .point.expanded.active .tooltip {
        margin-top: 16px;
        margin-bottom: 32px;
        height: auto;
        visibility: visible;
        opacity: 1
    }
}

.cloud-schema .points .point a:hover:before {
    opacity: .5
}

.cloud-schema .points .tooltip {
    cursor: initial;
    opacity: 0;
    height: 0;
    visibility: hidden;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px
}

.cloud-schema .points .tooltip p:last-child {
    margin-bottom: 0
}

.cloud-schema .points .tooltip .t {
    display: none
}

@media (min-width: 660px) {
    .cloud-schema .points .tooltip {
        position: absolute;
        border-radius: 8px;
        bottom: calc(100% + 18px);
        height: auto;
        padding: 24px;
        left: -22px;
        width: 320px;
        border: 1px solid #e6e6e6;
        -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1);
        box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, .1)
    }

    .cloud-schema .points .tooltip:after {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        background-color: inherit;
        border: inherit;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-radius: 0 0 0 .25em
    }

    .cloud-schema .points .tooltip .t {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px
    }
}

@media (min-width: 660px) {
    .cloud-schema .points {
        width: 271px
    }
}

.technology-partnership {
    position: relative;
    margin: 72px 0;
    background: #1b1b1b;
    color: #fff;
    padding: 84px 0;
    background-size: cover;
    background-position: center
}

.technology-partnership:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.98)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.98) 0%, rgba(0, 0, 0, 0) 100%)
}

@media (min-width: 660px) {
    .technology-partnership {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .technology-partnership {
        margin: 160px 0
    }
}

.technology-partnership .section__title {
    margin-bottom: 24px
}

.technology-partnership .title-wrap {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .technology-partnership .title-wrap {
        margin-bottom: 64px
    }
}

.technology-partnership .items {
    display: grid;
    grid-template-columns:1fr;
    gap: 2px
}

.technology-partnership .items .item {
    background: rgba(0, 0, 0, .6);
    padding: 16px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)
}

.technology-partnership .items .item:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.technology-partnership .items .item:nth-last-child(1) {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px
}

.technology-partnership .items .icon {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 72px;
    margin-bottom: 24px
}

.technology-partnership .items .icon img {
    max-width: 60%;
    height: auto
}

.technology-partnership .items .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 8px
}

.technology-partnership .items .description {
    opacity: .6;
    font-size: 14px;
    line-height: 22px
}

.technology-partnership .items .description:last-child {
    margin-bottom: 0
}

.technology-partnership .items .block-link {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%
}

.technology-partnership .items .block-link:before {
    position: absolute;
    content: "";
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.technology-partnership .items .block-link:hover:before {
    z-index: 1;
    padding: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: source-out;
    mask-composite: exclude
}

.technology-partnership .items .block-link:hover .btn-clear {
    background: -webkit-gradient(linear, left top, right top, from(rgba(69, 214, 173, 0.2)), color-stop(50%, rgba(141, 199, 233, 0.2)), to(rgba(188, 132, 202, 0.2)));
    background: -o-linear-gradient(left, rgba(69, 214, 173, 0.2) 0%, rgba(141, 199, 233, 0.2) 50%, rgba(188, 132, 202, 0.2) 100%);
    background: linear-gradient(90deg, rgba(69, 214, 173, 0.2) 0%, rgba(141, 199, 233, 0.2) 50%, rgba(188, 132, 202, 0.2) 100%)
}

.technology-partnership .items .block-link .btn-clear {
    margin: 8px 0 0 auto
}

.technology-partnership .items .description {
    margin-bottom: 16px
}

.technology-partnership .items .link {
    display: block;
    width: 65px;
    height: 18px;
    margin: auto 0 0 auto;
    background: url("../../img/arrow-gradient.svg") no-repeat
}

.technology-partnership .items .links {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    row-gap: 30px;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px
}

@media (min-width: 970px) {
    .technology-partnership .items {
        grid-template-columns:1fr 1fr
    }

    .technology-partnership .items .item {
        padding: 40px 40px 48px
    }

    .technology-partnership .items .item:nth-child(1) {
        border-top-left-radius: 8px;
        border-top-right-radius: 0
    }

    .technology-partnership .items .item:nth-child(2) {
        border-top-right-radius: 8px
    }

    .technology-partnership .items .item:nth-last-child(1) {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0
    }

    .technology-partnership .items .item:nth-last-child(2) {
        border-bottom-left-radius: 8px
    }
}

.technology-partnership .link-wrap {
    margin-top: 68px
}

.technology-partnership .link-wrap .btn-clear {
    margin: 0 auto
}

.banner-with-link {
    position: relative;
    margin: 72px 0;
    background: #787878
}

@media (min-width: 660px) {
    .banner-with-link {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .banner-with-link {
        margin: 160px 0
    }
}

.banner-with-link #video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.banner-with-link #video-container video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.banner-with-link #video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1)
}



.banner-with-link .content h3 {
    margin-top: 0;
    font-size: 24px;
    line-height: 32px
}

@media (min-width: 660px) {
    .banner-with-link .content {
        margin: 88px 0;
        padding: 32px 50px
    }
}

@media (min-width: 970px) {
    .banner-with-link .content {
        margin: 160px 0;
        padding: 76px 100px
    }

    .banner-with-link .content h3 {
        font-size: 32px;
        line-height: 48px
    }
}

.banner-with-link .link-wrap {
    margin-top: 32px
}

.banner-with-link .link-wrap .btn-clear {
    margin: 0 0 0 auto
}

.related {
    margin: 72px 0
}

.related .section__title {
    margin-bottom: 40px
}

@media (min-width: 480px) {
    .related {
        margin: 88px 0
    }

    .related .section__title {
        margin-bottom: 32px
    }
}

@media (min-width: 970px) {
    .related {
        margin: 160px 0
    }

    .related .section__title {
        position: relative;
        margin-bottom: 72px
    }
}

.related .description {
    margin-bottom: 32px
}

.related .read-page-link {
    display: none
}

@media (min-width: 1279px) {
    .related .read-page-link {
        display: block;
        margin-top: 30px
    }

    .related .read-page-link .btn-clear {
        margin: 0 auto
    }
}

.related .news.row {
    position: relative;
    margin-bottom: -40px
}

@media (min-width: 970px) {
    .related .news.row:after {
        content: "";
        display: block;
        width: 138px;
        height: 139px;
        position: absolute;
        top: auto;
        right: 16px;
        bottom: 100px;
        left: auto;
        z-index: -1;
        background: url("../../img/dots/short.svg") no-repeat;
        background-size: cover
    }
}

.related .news__item {
    margin-bottom: 40px
}

.related .news__item.news .cat, .related .news__item.neuigkeiten .cat {
    color: #ff8041
}

.related .news__item.case-study .cat, .related .news__item.fallstudie .cat {
    color: #73c651
}

.related .news__item.webinar_landing .cat {
    color: #ffcd00
}

.related .news__item.whitepapers_landing_new .cat {
    color: #a25eb5
}

.related .news__item.blog-post .cat, .related .news__item.blogeintrag .cat {
    color: #7bf2da
}

.related .news__item.ebook-lending .cat {
    color: #665ec7
}

.related .news__item.showcase-dkv .cat, .related .news__item.showcase-db .cat {
    color: #00a888
}

@media (min-width: 970px) {
    .related .news__item.big .news__item-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row
    }

    .related .news__item.big .news__item-inner .content {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        border-radius: 0 8px 8px 0;
        border-width: 1px 1px 1px 0;
        padding-left: 72px;
        padding-right: 106px
    }

    .related .news__item.big .image-wrap {
        -webkit-box-flex: 0;
        flex: 0 1 58.33333333%;
        height: 380px;
        border-radius: 8px 0 0 8px
    }

    .related .news__item.big .news__item-link {
        position: initial
    }
}

.related .news__item-inner {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;
    height: 100%
}

.related .news__item-inner .content {
    padding: 24px;
    border-radius: 0 0 8px 8px;
    border-color: #e6e6e6;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    background: #fff;
    -webkit-box-flex: 1;
    flex: 1
}

.related .news__item-inner:hover {
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .1)
}

.related .news__item-inner:hover .content {
    border-color: rgba(0, 0, 0, 0)
}

.related .news__item-inner:hover .news__item-link {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-filter: brightness(0);
    filter: brightness(0)
}

.related .news__item-image {
    width: 100%;
    height: 100%;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -o-object-fit: cover;
    object-fit: cover
}

.related .news__item-title {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin: 0 0 32px
}

@media (min-width: 660px)and (max-width: 969px) {
    .related .news__item-title {
        font-size: 18px;
        line-height: 26px
    }
}

.related .news__item-link {
    position: absolute;
    display: block;
    width: 65px;
    height: 16px;
    right: 24px;
    bottom: 24px;
    background: url("../../img/arrow-gradient.svg") no-repeat
}

.related .news .image-wrap {
    height: 172px;
    background-color: #f9f9f9;
    border-radius: 8px 8px 0 0;
    overflow: hidden
}

.related .news .cat {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #5fb4e5;
    margin-bottom: 8px
}

.related.grey, .related.lite_gradient {
    margin-bottom: 0 !important
}

.related.grey + .cta, .related.lite_gradient + .cta {
    margin-top: 0
}

.related.dark {
    margin-bottom: 0 !important
}

.related.dark + .cta {
    margin-top: 0
}

.related.dark .news__item-inner .content {
    background: #212121;
    border-color: #2b2b2b
}

.related.dark .news__item-inner:not(:hover) .news__item-link {
    background: url("../../img/arrow-grey.svg") no-repeat
}

.related.dark .news__item-inner:hover .content {
    background: #151515
}

.related.dark .news__item-inner:hover .news__item-link {
    -webkit-filter: brightness(1);
    filter: brightness(1)
}

.related.mint_to_purple, .related.blue_to_green {
    margin-bottom: 0 !important
}

.related.mint_to_purple + .cta, .related.blue_to_green + .cta {
    margin-top: 0
}

.related.mint_to_purple .news__item-inner .content, .related.blue_to_green .news__item-inner .content {
    background: rgba(255, 255, 255, .4);
    border-color: rgba(255, 255, 255, .4)
}

.related.mint_to_purple .news__item-inner:not(:hover) .news__item-link, .related.blue_to_green .news__item-inner:not(:hover) .news__item-link {
    -webkit-filter: brightness(5);
    filter: brightness(5)
}

.related.mint_to_purple .news__item-inner:hover .news__item-link, .related.blue_to_green .news__item-inner:hover .news__item-link {
    -webkit-filter: brightness(1);
    filter: brightness(1)
}

.technology-partnership {
    background: unset;
    color: inherit
}

.technology-partnership:before {
    display: none
}

.technology-partnership .items {
    gap: 30px
}

.technology-partnership .items .item {
    padding: 0;
    background: unset;
    border-radius: 8px !important
}

.technology-partnership .items .icon {
    -webkit-box-pack: center;
    justify-content: center;
    height: 79px
}

.technology-partnership .items .block-link:hover:before {
    top: -16px;
    bottom: -16px;
    left: -16px;
    right: -16px;
    -webkit-box-shadow: 0 0 10px 0 rgba(101, 101, 101, .15);
    box-shadow: 0 0 10px 0 rgba(101, 101, 101, .15);
    background: unset;
    -webkit-mask: unset
}

@media (min-width: 970px) {
    .technology-partnership .items {
        grid-template-columns:1fr 1fr 1fr
    }
}