.pos-tags__btn {
    display: block;
    border: 1px solid #d8e1e9;
    border-radius: 27px;
    padding: 7px 46px 7px 20px;
    color: #131c24;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

.pos-tags__btn:after {
    position: absolute;
    right: 0;
    color: #7bf2da;
    content: "✕";
    padding-right: 20px
}

.pos-tags__btn:hover {
    border-color: #3cd5af
}

@media (max-width: 659px) {
    .pos-tags.no-posts .pos-tags__btn--clear {
        margin: 10px auto 15px
    }
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.fw-slider {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    user-select: initial
}

.fw-slider .item {
    position: relative
}

.fw-slider .item img {
    position: relative;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.fw-slider .slick-dots {
    position: absolute;
    bottom: -33px;
    width: 100%;
    text-align: center
}

.fw-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom
}

.fw-slider .slick-dots li:after {
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    border: 1px solid #afafaf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px
}

.fw-slider .slick-dots li.slick-active:after {
    border: 0;
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%)
}

.fw-slider .slick-dots li button {
    display: none
}

.fw-slider__arrows {
    position: relative
}

.fw-slider__arrows .next-arrow, .fw-slider__arrows .prev-arrow {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 60px;
    height: 42px;
    border-radius: 8px
}

.fw-slider__arrows .next-arrow svg, .fw-slider__arrows .prev-arrow svg {
    opacity: .6;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

@media (max-width: 969px) {
    .fw-slider__arrows .next-arrow svg, .fw-slider__arrows .prev-arrow svg {
        width: 8px;
        height: 18px
    }
}

.fw-slider__arrows .next-arrow:hover svg, .fw-slider__arrows .prev-arrow:hover svg {
    opacity: 1
}

@media (min-width: 660px) {
    .fw-slider__arrows .next-arrow, .fw-slider__arrows .prev-arrow {
        -webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
        box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
        height: 60px;
        background: #fff
    }
}

.fw-slider__arrows .next-arrow {
    right: 0
}

.fw-slider__arrows .prev-arrow {
    left: 0
}

@media (min-width: 660px) {
    .fw-slider__arrows .prev-arrow {
        left: -30px
    }

    .fw-slider__arrows .next-arrow {
        right: -30px
    }
}

.fw-slider__arrows--sm-green {
    top: calc(50% - 30px)
}

[aria-describedby^=slick-slide] {
    outline: 0
}

.mobile-menu-btn {
    cursor: pointer
}

.mobile-menu-btn span {
    width: 26px;
    height: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    display: block;
    margin-top: 5px
}

.mobile-menu-btn span:first-child {
    margin-top: 0
}

.mobile-menu-btn.active span {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.mobile-menu-btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px)
}

.mobile-menu-btn.active span:nth-child(2) {
    -webkit-transform: translate(300%, 0);
    transform: translate(300%, 0);
    opacity: 0
}

.mobile-menu-btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px)
}

.simple-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.simple-list li, .simple-list > div {
    position: relative;
    padding: 0 0 8px 16px
}

.simple-list li:before, .simple-list > div:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #393939
}

.simple-list li:last-child, .simple-list > div:last-child {
    padding: 0 0 0 16px
}

@media (min-width: 480px) {
    .list-two-cols {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px
    }
}

@media (min-width: 660px) {
    .list-two-cols {
        -webkit-column-gap: 47px;
        -moz-column-gap: 47px;
        column-gap: 47px
    }
}

.article {
    margin-top: 70px
}

@media (min-width: 970px) {
    .article {
        margin-top: 90px
    }
}

.section__title {
    margin-bottom: 32px
}

@media (min-width: 660px) {
    .section__title {
        margin-bottom: 64px
    }
}

@media (min-width: 970px) {
    .section__title {
        margin-bottom: 72px
    }
}

.search-popup {
    background: #fff;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .05);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .05)
}

.search-popup.open {
    visibility: visible;
    opacity: 1;
    width: 100% !important;
    height: auto !important;
    margin-top: 12px;
    margin-bottom: -13px
}

.search-form {
    position: relative;
    margin-bottom: 0
}

.search-form__inner {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 6px 0;
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .05)
}

.search-form__input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #000;
    border-radius: 8px 0 0 8px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.search-form__input:-moz-placeholder {
    color: #787878
}

.search-form__input::-moz-placeholder {
    color: #787878
}

.search-form__input::-webkit-input-placeholder {
    color: #787878
}

@media (min-width: 970px) {
    .search-form__input {
        padding: 0 24px
    }
}

.search-form__submit {
    height: 44px;
    width: 48px;
    padding: 0;
    background: none;
    border: 1px solid #000;
    border-left: 0;
    border-radius: 0 8px 8px 0
}

.search-form__submit:hover {
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    font-weight: 600
}

.search-form__submit .icon-svg {
    width: 20px;
    height: 20px;
    fill: currentColor !important
}

.search-form__submit .search-text {
    display: none
}

@media (min-width: 970px) {
    .search-form__submit {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        min-width: 223px;
        -webkit-box-align: center;
        align-items: center
    }

    .search-form__submit .search-text {
        display: block;
        margin-left: 16px
    }
}

.search-focus.mobile-active .header-menu, .search-focus .mobile-menu, .search-focus .mobile-sidebar-footer {
    opacity: .1;
    pointer-events: none
}

.quick-facts-section {
    position: relative;
    margin: 72px 0
}

@media (min-width: 480px) {
    .quick-facts-section {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .quick-facts-section {
        margin: 160px 0
    }
}

.quick-facts-section__descr {
    position: relative;
    max-width: 100%;
    margin-bottom: 42px;
    margin-top: 16px
}

@media (min-width: 660px) {
    .quick-facts-section__descr {
        margin-bottom: 50px
    }
}

@media (min-width: 970px) {
    .quick-facts-section__descr {
        margin-bottom: 0
    }
}

@media (min-width: 1280px) {
    .quick-facts-section__descr {
        padding-top: 15px
    }
}

.quick-facts-section__title {
    position: relative;
    margin-bottom: 14px
}

@media (min-width: 970px) {
    .quick-facts-section__title {
        margin-bottom: 39px
    }
}

@media (min-width: 1280px) {
    .quick-facts-section__title {
        margin-bottom: 32px
    }
}

.quick-facts-top-description {
    padding-bottom: 50px
}

.about-statistics {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 48px 30px
}

@media (min-width: 660px) {
    .about-statistics {
        grid-template-columns:1fr 1fr
    }
}

@media (min-width: 970px) {
    .about-statistics {
        grid-gap: 86px 30px;
        grid-template-columns:1fr 1fr
    }
}

.about-statistics .item-wrap {
    position: relative;
    padding-left: 20px;
    height: 100%
}

.about-statistics .item-wrap:before {
    position: absolute;
    left: 0;
    content: "";
    width: 4px;
    height: 100%;
    border-radius: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7bf2da), color-stop(#5DB6E1), to(#B896FF));
    background: -o-linear-gradient(top, #7bf2da, #5DB6E1, #B896FF);
    background: linear-gradient(to bottom, #7bf2da, #5DB6E1, #B896FF)
}

.about-statistics__numeric {
    display: inline-block;
    margin: 0 0 8px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.43px;
    color: #253746;
    font-weight: 800;
    background: -webkit-gradient(linear, left top, right top, from(#7bf2da), color-stop(50%, #5DB6E1), to(#B896FF));
    background: -o-linear-gradient(left, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    background: linear-gradient(90deg, #7bf2da 0%, #5DB6E1 50%, #B896FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    text-fill-color: rgba(0, 0, 0, 0)
}

@media (min-width: 970px) {
    .about-statistics__numeric {
        font-size: 56px;
        line-height: 72px
    }
}

.about-statistics__numeric img {
    height: auto
}

.about-statistics__descr {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 22px
}

@media (min-width: 970px) {
    .about-statistics__descr {
        font-size: 18px;
        line-height: 28px
    }
}

.about-statistics + .section__title {
    margin-top: 100px
}

.quick-facts-addition > div {
    margin-top: 30px
}

.quick-facts-item {
    position: relative;
    padding: 30px;
    -webkit-box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, .15);
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
    height: 100%
}

.text-section {
    margin: 72px 0
}

@media (max-width: 479px) {
    .text-section {
        background: -o-linear-gradient(3.23deg, rgba(71, 225, 182, 0.15) 14.69%, rgba(126, 214, 255, 0.15) 53.11%, rgba(188, 132, 202, 0.15) 93.08%);
        background: linear-gradient(86.77deg, rgba(71, 225, 182, 0.15) 14.69%, rgba(126, 214, 255, 0.15) 53.11%, rgba(188, 132, 202, 0.15) 93.08%)
    }
}

@media (min-width: 480px) {
    .text-section {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .text-section {
        margin: 160px 0
    }
}

.text-section .text {
    padding: 56px 9px
}

@media (min-width: 480px) {
    .text-section .text {
        background: -o-linear-gradient(3.23deg, rgba(71, 225, 182, 0.15) 14.69%, rgba(126, 214, 255, 0.15) 53.11%, rgba(188, 132, 202, 0.15) 93.08%);
        background: linear-gradient(86.77deg, rgba(71, 225, 182, 0.15) 14.69%, rgba(126, 214, 255, 0.15) 53.11%, rgba(188, 132, 202, 0.15) 93.08%);
        border-radius: 8px;
        padding: 58px 52px
    }
}

@media (min-width: 970px) {
    .text-section .text {
        padding: 80px 41px
    }
}

.text-section .text p {
    position: relative;
    font-size: 28px;
    line-height: 34px;
    padding-left: 24px;
    font-weight: 300
}

@media (min-width: 480px) {
    .text-section .text p {
        font-size: 24px;
        line-height: 29px
    }
}

@media (min-width: 970px) {
    .text-section .text p {
        padding-left: 32px;
        font-size: 28px;
        line-height: 34px
    }
}

.text-section .text p:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#7bf2da), color-stop(#5DB6E1), to(#B896FF));
    background: -o-linear-gradient(top, #7bf2da, #5DB6E1, #B896FF);
    background: linear-gradient(to bottom, #7bf2da, #5DB6E1, #B896FF);
    border-radius: 100px
}

.text-section .text p:last-child {
    margin-bottom: 0
}

.logos-col {
    margin: 72px 0
}

@media (min-width: 480px) {
    .logos-col {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .logos-col {
        margin: 160px 0
    }
}

.logos-col .title {
    margin-bottom: 32px
}

.logos-col .description {
    max-width: 570px;
    margin-bottom: 72px
}

@media (min-width: 970px) {
    .logos-col .title {
        margin-bottom: 64px
    }
}

.logos-col .items {
    row-gap: 30px
}

.logos-col .items .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    border-radius: 6px
}

.logos-col .items .item.link {
    position: relative
}

.logos-col .items .item.link .arrow {
    position: absolute;
    width: 26px;
    height: 16px;
    bottom: 32px;
    right: 16px;
    background: url("../../img/arrow-short.svg") no-repeat;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 0;
    -webkit-filter: brightness(0);
    filter: brightness(0)
}

.logos-col .items .item.link:hover {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-shadow: 0 0 10px 0 rgba(101, 101, 101, .15);
    box-shadow: 0 0 10px 0 rgba(101, 101, 101, .15)
}

.logos-col .items .item.link:hover .arrow {
    opacity: 1
}

.logos-col .items .image-wrap {
    min-height: 100px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px
}

.logos-col .fw-slider .item-wrap {
    padding-top: 6px;
    padding-bottom: 6px
}

.logos-col .fw-slider .item img {
    width: auto;
    -o-object-fit: contain;
    object-fit: contain
}

.left-icon-link {
    margin: 72px 0
}

@media (min-width: 480px) {
    .left-icon-link {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .left-icon-link {
        margin: 160px 0
    }
}

.left-icon-link .section__title {
    margin-bottom: 24px
}

.left-icon-link .title-wrap {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .left-icon-link .title-wrap {
        margin-bottom: 64px
    }
}

.left-icon-link .title-wrap .description {
    max-width: 670px
}

.left-icon-link .items {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 56px
}

@media (min-width: 660px) {
    .left-icon-link .items {
        grid-template-columns:1fr 1fr;
        grid-gap: 40px 48px
    }
}

@media (min-width: 970px) {
    .left-icon-link .items {
        gap: 56px 30px
    }
}

.left-icon-link .item {
    display: block;
    z-index: 1
}

@media (min-width: 970px) {
    .left-icon-link .item {
        display: -webkit-box;
        display: flex
    }
}

.left-icon-link .item .icon {
    margin-right: 32px;
    -webkit-box-flex: 0;
    flex: 0 auto
}

.left-icon-link .item .wrap {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1
}

.left-icon-link .item .wrap .description *:last-child {
    margin-bottom: 0
}

.left-icon-link .item h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 28px
}

.left-icon-link .item p {
    font-size: 16px;
    color: #393939
}

.left-icon-link .item:hover .arrow {
    -webkit-filter: brightness(0);
    filter: brightness(0)
}

.left-icon-link .item .arrow {
    width: 65px;
    height: 16px;
    margin: 16px 0 0 auto;
    background: url("../../img/arrow-gradient.svg") no-repeat
}

.left-icon-link a.item {
    position: relative
}

.left-icon-link a.item:before {
    position: absolute;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px
}

.left-icon-link a.item:hover:before {
    top: -24px;
    bottom: -32px;
    left: -24px;
    right: -24px;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .1)
}

.left-icon-link.dark .item:not(:hover) .arrow {
    background: url("../../img/arrow-grey.svg") no-repeat
}

.left-icon-link.dark .item:hover .arrow {
    -webkit-filter: brightness(1);
    filter: brightness(1)
}

.left-icon-link.dark .item:hover:before {
    background: #151515
}

.left-icon-link.mint_to_purple .item p, .left-icon-link.blue_to_green .item p {
    color: #1c1c1c
}

.left-icon-link.mint_to_purple .item .arrow, .left-icon-link.blue_to_green .item .arrow {
    background: url("../../img/arrow-grey.svg") no-repeat
}

.three-col-icon-link {
    margin: 72px 0
}

@media (min-width: 480px) {
    .three-col-icon-link {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .three-col-icon-link {
        margin: 160px 0
    }
}

.three-col-icon-link .section__title {
    margin-bottom: 24px
}

.three-col-icon-link .title-wrap {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .three-col-icon-link .title-wrap {
        margin-bottom: 64px
    }
}

.three-col-icon-link .section-description {
    max-width: 670px;
    margin-bottom: 50px
}

.three-col-icon-link .items {
    position: relative;
    margin-top: 64px;
    row-gap: 40px
}

@media (min-width: 970px) {
    .three-col-icon-link .items.dots:after {
        content: "";
        display: block;
        width: 297px;
        height: 138px;
        position: absolute;
        top: auto;
        right: 10px;
        bottom: 25px;
        left: auto;
        z-index: -1;
        background: url("../../img/dots/horizontal.svg") no-repeat;
        background-size: cover
    }
}

@media (min-width: 1280px) {
    .three-col-icon-link .items.dots::after {
        right: 88px
    }
}

.three-col-icon-link .item {
    position: relative;
    z-index: 1;
    height: 100%
}

.three-col-icon-link .item:hover .arrow {
    -webkit-filter: brightness(0);
    filter: brightness(0)
}

.three-col-icon-link .item .arrow {
    margin: 32px 0 0 auto;
    width: 65px;
    height: 16px;
    background: url("../../img/arrow-gradient.svg") no-repeat
}

.three-col-icon-link a.item:before {
    position: absolute;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px
}

.three-col-icon-link a.item:hover:before {
    top: -8px;
    bottom: -16px;
    left: -24px;
    right: -16px;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .1)
}

.three-col-icon-link .link {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0
}

@media (min-width: 660px) {
    .three-col-icon-link .link {
        padding: 2px 15px;
        max-width: 270px
    }
}

.three-col-icon-link .icon {
    margin-bottom: 16px;
    line-height: 1
}

.three-col-icon-link .description h3 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 8px
}

.three-col-icon-link .description p {
    color: #1c1c1c;
    font-size: 16px;
    line-height: 24px
}

.three-col-icon-link .description > :last-child {
    margin-bottom: 0
}

.three-col-icon-link.dark a.item:not(:hover) .arrow {
    background: url("../../img/arrow-grey.svg") no-repeat
}

.three-col-icon-link.dark a.item:hover .arrow {
    -webkit-filter: brightness(1);
    filter: brightness(1)
}

.three-col-icon-link.dark a.item:hover:before {
    background: #151515
}

.three-col-icon-link.mint_to_purple .item .arrow, .three-col-icon-link.blue_to_green .item .arrow {
    background: url("../../img/arrow-grey.svg") no-repeat
}

.awards-section {
    margin: 72px 0
}

@media (min-width: 660px) {
    .awards-section {
        margin: 88px 0
    }
}

@media (min-width: 970px) {
    .awards-section {
        margin: 150px 0;
        padding-bottom: 50px
    }
}

.awards-section .section__title {
    margin-bottom: 32px
}

@media (min-width: 970px) {
    .awards-section .section__title {
        margin-bottom: 64px
    }
}

.awards-section .awards-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 40px 30px
}

.awards-section .awards-list__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 140px;
    flex-basis: calc(50% - 15px)
}

@media (min-width: 970px) {
    .awards-section .awards-list {
        gap: 40px 0
    }

    .awards-section .awards-list__item {
        flex-basis: 33%
    }
}

.awards-section .awards-list__pic {
    height: auto
}

.three-col-icon-link .items::after {
    display: none
}

.stat-image {
    min-height: 71px
}